<template>
  <div>
    <h1>
      Hallo Semua
    </h1>
    <h2>
      Saya di Heroku
    </h2>
    <div>

    </div>
  </div>
</template>

<script>
export default {
  
}
</script>

<style scoped>

</style>
